<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
      <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
        <span class="nav-link-inner--text">Inicio</span>
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a class="navbar-brand mr-lg-5" [routerLink]="['/home']"
                [ngClass]="{'text-dark': !isCollapsed}">
                <span class="nav-link-inner--text">Inicio</span>
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li>
            <a class="navbar-brand mr-lg-5" [routerLink]="['/Historia']"
            [ngClass]="{'text-dark': !isCollapsed}">
              <span class="nav-link-inner--text">Historia</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li>
            <a class="navbar-brand mr-lg-5" [routerLink]="['/Testes']"
            [ngClass]="{'text-dark': !isCollapsed}">
              <span class="nav-link-inner--text">Testes</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!authService.estaLogado()">
            <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fa fa-user mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Logar</span>
            </a>
          </li>
        
          <li class="nav-item dropdown ml-lg-4" ngbDropdown *ngIf="authService.estaLogado()">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button">
              {{ authService.obterNomeUsuario() }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdown">
              <button class="dropdown-item" (click)="logout()">Sair</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  