<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-130"></span>
        <span class="span-120"></span>
      </div>
      <div class="container shape-container d-flex align-items-center mt-5">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/logoserver.png" style="width: 400px;" class="img-fluid mt-5">
              <p class="lead text-white">Bora Jogar um RPGZim</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <app-sections></app-sections> -->
</main>